*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Cormorant Garamond', serif;
    }
    /*callout*/
.callout-container {
    height: 80vh;
    background: url('../images/foodie.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    border-style: groove;
    border-width: 10px;
    border-color:gray;

    position:relative;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
/*jumbotron*/

.jumbotron{
    background-color:transparent;
}
.jumbotron-header {
    font-weight:bold;
    margin-bottom: 30px;
}

h1.jumbotron-header {
    color: white;
}
/*Image Thumbnail*/

.img-thumbnail {
    margin-top:20px;
    padding: 20px;
    background-color: #dac67e;
    border: 5px solid #5e373d;
    border-block-style: unset;
}

.h2, h2 {
    color: chocolate;
    margin-top: 20px;
}

p{
    font-size: 20px;
}

/*Footer*/
.text-dark {
    color: #1d2124!important;
    font-weight: bold;
}
